.main {
    margin: 0 auto;
    max-width: 755px;
}

.logo {
    display: block;
    width: 80px;
    height: 80px;
    &__href {
        display: block;
        margin: 25px auto;
        width: fit-content;
        &:focus {
            outline-color: #2196F3;
        }
    }
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.tickets-panel {
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 20px;
    width: 502px;
}

.more-results-button {
    width: 100%;
    background: #2196F3;
    border-radius: 5px;
    padding: 15px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    &--errored {
        width: 335px;
    }
    &:hover {
        background-color: rgb(24, 122, 203);
        transition: background-color 0.2s;
    }
    &:active {
        background-color: #72b5eb;
        transition: none;
    }
    &:focus-visible {
        outline: #000000 2px solid;
    }
}

.logo-utair {
    position: absolute;
    left: 70%;
    margin-top: 10px;
    width: 100px;
}


.strict-filters-warning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
    margin: 48px auto;
}

.errored-window {
    width: fit-content;
    margin: 55px auto;
}