
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    }
body {
    background: #F3F7FA;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.main {
    margin: 0 auto;
    max-width: 755px;
}
.logo {
    display: block;
    width: 80px;
    height: 80px;
    margin: 25px auto;
    &__href {
        &:focus {
            outline-color: #2196F3;
        }
    }
}
.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.filterPanel {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px 0;
    min-width: 232px;
    grid-column: 1/1;
    grid-row: 1/3;
    height: fit-content;
    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #4A4A4A;
        margin: 0 20px 15px;
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__checkbox {
        display: flex;
        padding: 7px 17px;
        cursor: pointer;
        &:focus-within {
            outline: #2196F3 2px solid;
            outline-offset: -3px;
        }
        &:hover {
            background-color: #F1FCFF;
        }
    }
    &__label {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #4A4A4A;
        cursor: pointer;
    }
    &__input {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    &__content {
        position: relative;
        border: 1px solid #2196F3;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        margin-right: 7px;
        &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-size: contain;
            margin-top: 2px;
            margin-left: 0.5px;
            background-repeat: no-repeat;
        }
    }
}

.filterPanel__input:checked + .filterPanel__content::before {
    background-image: url('../img/shape.svg');
}

.pageController {
    display: flex;
    justify-content: space-around;
    width: 505px;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    height: 50px;
    &__switch {
        width: 100%;
        background-color: #fff;
        padding: 15px;
        &-on {
            width: 100%;
            background: #2196F3;
            padding: 15px;
            color: #FFFFFF;
        }

    }
}

.biletsPanel {
    grid-column: 2/2;
    grid-row: 1/1;
    height: fit-content;
}

.pageSwitch {
    &__radio {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &__heading {
        position: absolute;
        left: 50%;
        top: 30%;
        width: 100%;
        transform: translate(-50%, -50%);
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        display: block;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    &__container {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-top: 0.3px #DFE5EC solid;
        border-right: 0.3px #DFE5EC solid;
        border-bottom: 0.3px #DFE5EC solid;
        &:focus-within {
            outline: #000000 2px solid;
            outline-offset: -2px;
            offset-position: top bottom right;
            .pageSwitch__content {
                background-color: #2196F3;
                color: #fff;
            }
        }
        &:first-child {
            border-left: 0.3px #DFE5EC solid;
            border-radius: 5px 0 0 5px;
            .pageSwitch__content {
                border-radius: 5px 0 0 5px;
            }
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
            .pageSwitch__content {
                border-radius: 0 5px 5px 0;
            }
        }
        &-checked {
            color: #fff;
            .pageSwitch__content {
                width: 100%;
                height: 100%;
                background-color: #2196F3;
            }
        }
    }
    &__content {
        background-color: #fff;
        width: 100%;
        height: 100%;
    }
}


.ticketsPanel {
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 20px;
}
.ticketBody {
    width: 502px;
    height: 167px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
    &:focus {
        outline-color: #2196F3;
    }
    &__headingContainer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
    }
    &__data {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__dataBlock {
        &:first-child {
            margin-left: 20px;
        }
        &:last-child {
            margin: 0;
        }
        margin: 0 85px 0 0;
        position: relative;
    }
    &__heading {
        color: #2196F3;
        margin: 15px 0;
    }
    &__dataHeading {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #A0B0B9;
        margin: 0;
    }
    &__dataTime {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #4A4A4A;
        margin: 0;
    }
}
.moreResultsButton {
    width: 100%;
    background: #2196F3;
    border-radius: 5px;
    padding: 15px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    &:hover {
        background-color: rgb(24, 122, 203);
        transition: background-color 0.2s;
    }
    &:active {
        background-color: #72b5eb;
        transition: none;
    }
    &:focus-visible {
        outline: #000000 2px solid;
    }
}
.noMoreResults {
    display: none;
}

.logoUtair {
    position: absolute;
    left: 70%;
    margin-top: 10px;
    width: 100px;
}
.dataBlock__time {
    width: 100px;
}
.dataBlock__path {
    width: 65px;
}
.dataHeading {
    margin-top: 5px;
    position: absolute;
    width: 105px;
}
.preloader {
    width: 60px;
    height: 60px;
    background-image: url("../img/preloader.svg");
    margin: 30px auto;
}
.displayNone {
    display: none;
}
.strictFiltersWarning {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 28px;
}